.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
html {
  margin: 0;
  padding: 0; /* Ensures there is no padding that could cause scrolling */
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*overflow: hidden; prevents scrolling */
}

html {
  background-image: url("/bg.jpeg");
}